{
    "extends": "next",
    "rules": {
        "no-restricted-imports": [
            "warn",
            {
                "patterns": [
                    {
                        "group": ["../../"],
                        "message": "Relative imports are not allowed."
                    }
                ]
            }
        ]
    }
}
